header{
    background-color: #F7F9FB;
    padding: 0px 32px;
    box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.06),
    0 8px 24px rgba(0, 0, 0, 0.04);
}

ul{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

ul li{
    cursor: pointer;
}

.header-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.button-menu{
    transition: all 500ms ease;
}

.button-menu:hover{
    color: grey;
    transform: scale(1.1);
}

.basket-length{
    background-color: rgb(225, 73, 73);
    color: aliceblue;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}